.main {
    height: calc(100vh - 70px);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainInner {
    display: flex;
    align-items: center;
}

.errorNumber {
    padding-right: 23px;
}

.errorText {
    margin-left: 23px !important;
}
