.main {
    height: 100vh;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    margin: 0;
    margin-bottom: 26px;
}

.fieldGroup {
    display: flex;
}

.fieldGroup .field:first-child {
    margin-right: 16px;
}

.field {
    margin-bottom: 16px !important;
}
