.inner {
    height: 100%;
    margin: 20px auto;
    max-width: 516px;
    min-height: calc(100vh - 64px);

    display: flex;
    align-items: center;
}

.subtitle {
    margin-bottom: 26px !important;
    font-weight: 400 !important;
}

.link {
    margin-left: 4px !important;
}

@media (max-width: 960px) {
    .subtitle {
        margin-bottom: 24px !important;
    }
}
