.headBG {
    background-color: #e0e0e0;
}

.borderRight500 {
    border-right: 1px solid #e0e0e0;
}

.list {
    overflow-y: scroll;
    height: calc(89vh - 64px - 64px);
}

.inline {
    display: inline;
}

.clip {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 20px;
}

.gridClip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendMessageContainer {
    padding: 10px;
}
