.chatSection {
    height: 93vh;
    margin-top: 64px;
}

.headBG {
    background-color: #e0e0e0;
}

.borderRight500 {
    border-right: 1px solid #e0e0e0;
}

.messageArea {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    height: 75vh;
    overflow-y: auto;
    font-size: 20px;
    overflow-y: scroll;
}

.list {
    overflow-y: scroll;
    height: 70vh;
}

.inline {
    display: inline;
}

.listItemFriend {
    background-color: #ffffff;
    width: fit-content !important;
    border-radius: 15px;
    margin: 0 0 10px 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    max-width: 500px;
}

.listItemSelf {
    background-color: #9bc4fd;
    width: fit-content !important;
    border-radius: 15px;
    margin: 0 10px 10px 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    align-self: flex-end;
    max-width: 500px;
}

.clip {
    cursor: pointer;
    width: 30px;
    margin: 20px;
}

.gridClip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendMessageContainer {
    padding: 10px;
    max-height: 40px;
}
